@page
@model CarService.Web.Areas.Client.Pages.MyServices.DeleteWorkModel

<h3>Biztosan törli az alábbi feladatot?</h3>
<div>
    <h4>Work</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Kezdés
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.StartingTime)
        </dd>
        <dt class="col-sm-2">
            Befejezés
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.EndTime)
        </dd>
        <dt class="col-sm-2">
            Ár
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.Price) Ft
        </dd>
        <dt class="col-sm-2">
            Feladat jellege
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.SubTask.Name)
        </dd>
        <dt class="col-sm-2">
            Állapot
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.State.NameHungarian)
        </dd>
        <dt class="col-sm-2">
            Feladatot végzi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.WorkerUser.Name)
        </dd>
        <dt class="col-sm-2">
            Autó
        </dt>
        <dd class="col-sm-10">
            <a asp-page="../Cars/DetailsCar" asp-route-id="@Model.Work.Service.Car.Id">@Html.DisplayFor(model => model.Work.Service.Car.Brand) @Html.DisplayFor(model => model.Work.Service.Car.Model)</a>
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Work.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
<hr/>
<div>
    <a asp-page="./Messages" asp-route-id="@Model.Work.Id" title="A munkához tartozó üzenetek megtekintése"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
</div>
<div>
    <a asp-page="./Index" title="Vissza a listára"><i class="fas fa-chevron-circle-left fa-3x"></i></a>
</div>
