@page
@model CarService.Web.Areas.Client.Pages.MyServices.DetailsModel

<div>
    <h4>Work</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.StartingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.StartingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.OwnerDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.OwnerDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.CompanyDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.CompanyDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.SubTask)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.SubTask.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.Service.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.State.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.WorkerUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.WorkerUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Work.Id">Edit</a> |
    <a asp-page="./Index">Vissza a listára</a>
</div>

