@page
@model CarService.Web.Areas.Client.Pages.MyServices.IndexModel

@foreach (var service in Model.ActiveServices)
{
    string collapse = "collapse" + service.Id.ToString();
    string accordion = "accordion" + service.Id.ToString();
    <div id="@accordion" class="form-group">
        <div class="card">
            <h5 class="card-header">
                Folyamatban lévő
                @foreach (var work in service.Works)
                {
                    @if (work.StateId == 1)
                    {
                        <span class="badge badge-danger" title="Kérjük tekintse meg  lenti feladatok listáját!">Jóváhagyás szükséges</span>
                        break;
                    }
                }

            </h5>
            <div class="card-body" id="headingOne">
                <h5 class="card-title">@Html.DisplayFor(modelItem => service.Car.Brand) @Html.DisplayFor(modelItem => service.Car.Model)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => service.Car.YearOfManufacture)</p>
                <p class="card-text">Teljes becsült költség: @Html.DisplayFor(modelItem => service.TotalPrice) Ft</p>

                <a asp-page="./Delete" asp-route-id="@service.Id"><i class="fas fa-trash-alt fa-3x" title="Törlés"></i></a>
                <a asp-page="" asp-route-id="" data-toggle="collapse" data-target="#@collapse"><i class="fas fa-ellipsis-h fa-3x" title="Részletek"></i></a>

            </div>
            <div id="@collapse" class="collapse show" aria-labelledby="headingOne" data-parent="#@accordion">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Kezdési időpont
                                </th>
                                <th>
                                    Befejezési időpont
                                </th>
                                <th>
                                    Ár
                                </th>
                                <th>
                                    Feladat típusa
                                </th>
                                <th>
                                    Műveletek
                                </th>
                                <th class="text-center">
                                    Állapot
                                </th>
                            </tr>
                        </thead>
                        @foreach (var historyElement in Model.History)
                        {
                            if (historyElement.Value == service)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => historyElement.Key.StartingTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => historyElement.Key.EndTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => historyElement.Key.Price) Ft
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => historyElement.Key.SubTask.Name)
                                        </td>
                                        <td>
                                            <a asp-page="./DeleteWork" asp-route-id="@historyElement.Key.Id"><i class="fas fa-trash-alt fa-sm" title="Törlés"></i></a> |
                                            <a asp-page="./EditWork" asp-route-id="@historyElement.Key.Id"><i class="fas fa-edit fa-sm" title="Módosítás"></i></a> |
                                            <a asp-page="./DetailsWork" asp-route-id="@historyElement.Key.Id"><i class="fas fa-ellipsis-h fa-sm" title="Részletek"></i></a>
                                        </td>
                                        <td class="text-center">
                                            @if (historyElement.Key.State.Name == "Requested")
                                            {
                                                <a asp-page="./ApproveModification" asp-route-id="@historyElement.Key.Id"><span class="badge badge-danger">Jóváhagyás szükséges</span></a>
                                            }
                                            @if (historyElement.Key.State.Name == "Accepted")
                                            {
                                                <span class="badge badge-info">Leadva</span>
                                            }
                                            @if (historyElement.Key.State.Name == "Begun")
                                            {
                                                <span class="badge badge-warning">Elkezdve</span>
                                            }
                                            @if (historyElement.Key.State.Name == "Finished")
                                            {
                                                <span class="badge badge-success">Befejezve</span>
                                            }
                                            @if (historyElement.Key.State.Name == "FinishedAndPaid")
                                            {
                                                <span class="badge badge-light">Kifizetve</span>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" title="További adatok">
                    Title
                </h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Becsült költség: Ft</li>
                <li class="list-group-item">Becsült munkaidő: perc</li>
            </ul>
            <div class="card-body text-right">
                <a asp-page="./EditSubTask" asp-route-id=""><i class="fas fa-edit fa-lg" title="Módosítás"></i></a>
                <a asp-page="./DeleteSubTask" asp-route-id=""><i class="fas fa-trash-alt fa-lg" title="Törlés"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" title="További adatok">
                    Title
                </h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Becsült költség: Ft</li>
                <li class="list-group-item">Becsült munkaidő: perc</li>
            </ul>
            <div class="card-body text-right">
                <a asp-page="./EditSubTask" asp-route-id=""><i class="fas fa-edit fa-lg" title="Módosítás"></i></a>
                <a asp-page="./DeleteSubTask" asp-route-id=""><i class="fas fa-trash-alt fa-lg" title="Törlés"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" title="További adatok">
                    Title
                </h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Becsült költség: Ft</li>
                <li class="list-group-item">Becsült munkaidő: perc</li>
            </ul>
            <div class="card-body text-right">
                <a asp-page="./EditSubTask" asp-route-id=""><i class="fas fa-edit fa-lg" title="Módosítás"></i></a>
                <a asp-page="./DeleteSubTask" asp-route-id=""><i class="fas fa-trash-alt fa-lg" title="Törlés"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" title="További adatok">
                    Title
                </h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Becsült költség: Ft</li>
                <li class="list-group-item">Becsült munkaidő: perc</li>
            </ul>
            <div class="card-body text-right">
                <a asp-page="./EditSubTask" asp-route-id=""><i class="fas fa-edit fa-lg" title="Módosítás"></i></a>
                <a asp-page="./DeleteSubTask" asp-route-id=""><i class="fas fa-trash-alt fa-lg" title="Törlés"></i></a>
            </div>
        </div>
    </div>
</div>



