@page
@model CarService.Web.Areas.ClientUser.Pages.Cars.DetailsCarModel

@{
    ViewData["Title"] = "DetailsCar";
}

<h1>Részletes adatok</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Car.Model) @Html.DisplayFor(model => model.Car.YearOfManufacture)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Vin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Vin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.LicensePlateNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.LicensePlateNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.YearOfManufacture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.YearOfManufacture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Km)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Km)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.TechnicalValidity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.TechnicalValidity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Picture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Picture)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditCar" asp-route-id="@Model.Car.Id">Szerkesztés</a> |
    <a asp-page="./BrowseCar">Vissza a teljes listára</a>
</div>
