@page
@model CarService.Web.Areas.Client.Pages.Cars.BrowseCarModel

@{
    ViewData["Title"] = "BrowseCar";
}

<h1>Autóim</h1>

<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card">
            <div class="text-center">
                <a class="" asp-area="Client" asp-page="/Cars/AddCar">
                    <i class="fas fa-plus-circle card-img-top plus-card fa-7x" title="Hozzáadás"></i>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">
                    <a class="" asp-area="Client" asp-page="/Cars/AddCar">
                        Új autó hozzáadása
                    </a>
                </h5>
            </div>
        </div>
    </div>
    @foreach (var item in Model.Car)
    {
        item.Picture = "/pictures/" + item.Picture;
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card">
                <a asp-page="./DetailsCar" asp-route-id="@item.Id">
                    <img class="card-img-top" src="@item.Picture" alt="Autója képe" title="További adatok">
                </a>
                <div class="card-body">
                    <h4 class="card-title" title="További adatok">
                        <a asp-page="./DetailsCar" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Model) @Html.DisplayFor(modelItem => item.YearOfManufacture)
                        </a>
                    </h4>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Brand)</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rendszám: @Html.DisplayFor(modelItem => item.LicensePlateNumber)</li>
                    <li class="list-group-item">Műszaki: @Html.DisplayFor(modelItem => item.TechnicalValidity)</li>
                </ul>
                <div class="card-body text-right">
                    <a asp-page="./EditCar" asp-route-id="@item.Id"><i class="fas fa-edit fa-lg" title="Módosítás"></i></a>
                    <a asp-page="./DeleteCar" asp-route-id="@item.Id"><i class="fas fa-trash-alt fa-lg" title="Törlés"></i></a>
                </div>
            </div>
        </div>
    }
</div>