@page
@model CarService.Web.Areas.Client.Pages.Cars.DeleteCarModel

@{
    ViewData["Title"] = "DeleteCar";
}

<h1>Végleges törlés</h1>

<h3>Biztosan törli az alábbi adatokkal rendelkező autóját?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Márka
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            Modell
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            Rendszám
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.LicensePlateNumber)
        </dd>
        <dt class="col-sm-2">
            Alvázszám
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Vin)
        </dd>
        <dt class="col-sm-2">
            Gyártási év
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.YearOfManufacture)
        </dd>
        <dt class="col-sm-2">
            Futott km
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Km)
        </dd>
        <dt class="col-sm-2">
            Műszaki érvényességi ideje
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.TechnicalValidity)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Car.Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-page="./BrowseCar">Vissza a teljes listára</a>
    </form>
</div>
